# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Virtual environments
venv/
env/
.venv/

# Packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# PyCharm / JetBrains
.idea/

# OS trash
.DS_Store
Thumbs.db

# Logs
*.log

# Env / secrets
.env
*.env

# Tests / temporary
test*.*
*/test*.*
test*/
temp*.*
*/temp*.*
temp*/

# Datasets
DATA/
CLEANED_DATA/
data_jsons/
cache/
models/features/
llm_eval/EVAL_DATA/
llm_eval/models/features/
llm_eval/human_eval/
backups/
